/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/

.add-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 380px;
  height: 550px;
  margin: auto;
  background: black;
  opacity: 0.9;
  border-radius: 5px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.add-form > div {
  min-height: 30px;
}

.close-button {
  text-align: right;
}

.add-form-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  justify-content: center;
  width: 100%;
  text-align: left;
  align-content: space-evenly;
  padding: 20px;
}

.add-form-input > div {
  height: 50px;
}

.add-form-input input, select {
  color: white;
  width: 140px;
}

.add-form #add {
  background: #F7CE3E;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  opacity: 0.9;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.one-column {
  grid-column: 1 / span 2;
}

.one-column > div {
  display: inline-block;
  width: 160px;
}

input[type="radio"],input[type="radio"]:focus  {
  width: 20px;
  min-height: 10px;
  font-size: 10px
}


.sel option {
  padding: 5px 8px;
  color: white;
  background: rgb(59, 59, 59);
  border-style: none;
  border-image: none;
  border: none;
  outline: none;
}

.add-form button {
  outline: none;
  background: none;
  border: none;
  padding: 0px;
  background:rgb(112, 14, 168);
  width: 80px;
  height: 45px;
  border-radius: 3px;
  opacity: 0.9;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  font-family: Montserrat, cursive;
  color: white;
  font-size: 16px;
}